$primaryColor: #003604; 
$secondaryColor: #001adb;
$accentColor: #333;
$menuColor: rgb(75, 150, 211);
$greyColor: #ccc;

$defaultFont:'Red Hat Text', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;
$leading: 150%;

$gutter: 16px;